* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(206, 223, 238);
    font-family: sans-serif;
    outline: none;
   
  }
  .container {
    
    
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Calculator{
    background-color: rgb(126, 126, 16);
    padding: 20px;
    border-radius: 40px;
    box-shadow: inset 5px 5px 12px cornsilk,
                      5px 5px 12px color(srgb rgb(5, 3, 3) );
    
    display: grid;
    grid-template-columns: repeat(4,70px);                  

 }
 input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: azure;
    box-shadow: inset -6px -6px 13px rgb(206, 168, 14),
                      6px 6px 13px color(srgb rgb(5, 3, 3) );
    border: none;
    border-radius: 20px;
    color: darkslategray;
    
    text-align: end;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    


 }
 button{
    height: 48px;
    width: 48px;
    background-color: azure;
    box-shadow: inset -6px -6px 13px cornsilk,
                      6px 6px 13px color(srgb rgb(5, 3, 3) );
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
 }
 .equal{
   width: 120px;
   border-radius: 50%;
   background-color: palevioletred;
    box-shadow: inset -6px -6px 13px cornsilk,
                      6px 6px 13px color(srgb rgb(5, 3, 3) ); 
 }
 .symbol{
    background-color: rgb(10, 152, 152);
 }